.header-component {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
  box-shadow: rgba(132, 16, 16, 0.201);
}

.header-component img {
  background-color: #ffffff;
  height: 50px;
}

.header-component h1 {
  font-size: 36px;
  margin-left: 15px;
  font-weight: 700;
  color: #831010;
}