.home-component {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px 10px;
  padding: 30px 10px;
}

.home-component .thumbnail-component:nth-child(3n + 2) div {
  background-color: #ad5555;
}

.home-component .thumbnail-component:nth-child(3n + 3) div {
  background-color: #9c1010;
}

@media (min-width: 768px) {
  .home-component {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 40px 15px;
    gap: 40px 10px;
  }
}